body {
    background-color: #5ce1e6;
    color: lightgrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

.form-container {
    background-color: black;
    padding: 5%;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 15px;
}

.flexrow {
    display: flex;
    justify-content: center;
}

#logo {
    width: 200px;
    height: 200px;
}

.yellow {
    color: #ffde59
}

.turq {
    color: #5ce1e6
}

input {
    padding: 8px;
}

