body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

.img-form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
}

.img-form-container img {
    width: 50%;
}

.form-container {
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 5%;
    justify-content: center;
}

.form-container label {
    color: whitesmoke;
}

.flexrow {
    display: flex;
    justify-content: center;
}

.logo {
    width: 200px;
    height: 200px;
    border: 2pm solid white;
    border-radius: 8px;
}

.yellow {
    color: #ffde59
}

.turq {
    color: #5ce1e6
}

input {
    padding: 3%;
}

#submit {
    width: 50%;
    height: 15%;
    margin-top: 3%;
    background-color: lightgrey;
    font-size: large;
    cursor: pointer;
}