body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.flexrow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.softbox {
    border: 1px solid black;
    border-radius: 10px;
}

.white {
    color: white;
}

.whitebg {
    background-color: white;
}

.lgreybg {
    background-color: lightgray;
}

.blackbg {
    background-color: black;
}

.yellowbg {
    background-color: #ffde59;
}

.icon {
    max-width: 30px;
    cursor: pointer;
}

.yellow {
    color: #ffde59;
}

.turq {
    color: #5ce1e6;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

input {
    padding: 8px;
    min-width: 200;
}

button {
    padding: 8px;
    min-width: 80px;
}

.flash {
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    color: #5ce1e6;
}

.maincolumn {
    background-color: black;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-size: xx-large;
}

.link {
    font-size: x-large;
    color: #ffde59;
    padding-top: 25px;
}

.label {
    font-size: x-large;
    color: black;
}

.game .urgent {
    font-size: x-large;
    color: red;
}

.invite, .game {
    background-color: white;
    padding: 10px;
}

.invite .players, .game .players {
    text-align: center;
    margin: auto;
    padding-top: 20px;
}

.game {
    cursor: pointer;
}

.invite table, .game table {
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.invite td {
    width: 33%;
}

.game td {
    width: 25%;
}

.joinbtn {
    width: 50%;
}

.spacer {
    margin-bottom: 50px;
}

/*************************************************/

.board {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 15%;
}

.boardtable {
    padding: 2;
}

.score {
    position: fixed;
    left: 0;
    top: 0;
    margin-top: 20px;
    margin-left: 20px;
    padding: 20px;
    font-size: x-large;
}

.score table {
    width: 100%;
}

.score table td {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
}


.yourturn {
    border: 2px solid black;
    border-radius: 5px;
    margin: 0; /* Removes extra spacing */
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #ffde59;
}

.scoretable {
    font-size: x-large;
}

.exit {
    position: fixed;
    right: 0;
    top: 0;
    margin-top: 20px;
    margin-right: 20px;
    padding: 20px;
}

.footbar {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.swaparea {
    display: flex;
    gap: 10px;
    padding: 20px;
    width: auto;
    height: 48px;
    align-items: center;
}

#swp {
    visibility: hidden;
    min-width: 60px;
}

.pair {
    display: flex;
    gap: 20px;
    align-items: center;
}

.rjust {
    justify-content: right;
}

.btn1 {
    width: 80px;
    height: 50px;
    font-size: large;
    background-color: white;
}


.chatbox {
    padding: 20px;
    font-size: large;
    position: fixed;
    right: 0;
    bottom: 0;
    margin-bottom: 20px;
    margin-right: 20px;
}

.chatbox .wrapper {
    max-width: 570px;
    max-height: 300px;
    overflow: scroll;
}

.chatbox #_inputtext {
    margin-bottom: 10px;
}

