body {
    background-color: #5ce1e6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.flexrow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.softbox {
    border: 1px solid black;
    border-radius: 10px;
}

.whitebg {
    background-color: whitesmoke;
}

.icon {
    max-width: 30px;
    cursor: pointer;
}

.yellow {
    color: #ffde59;
}

.turq {
    color: #5ce1e6;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

input {
    padding: 8px;
    min-width: 200;
}

button {
    padding: 8px;
    min-width: 80px;
}

.flash {
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    color: #5ce1e6;
}

.maincolumn {
    background-color: black;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-size: xx-large;
}

.link {
    font-size: x-large;
    color: #ffde59;
    padding-top: 25px;
}

.label {
    font-size: x-large;
    color: black;
}

.game .urgent {
    font-size: x-large;
    color: red;
}

.invite, .game {
    background-color: white;
    padding: 10px;
}

.invite .players, .game .players {
    text-align: center;
    margin: auto;
    padding-top: 20px;
}

.game {
    cursor: pointer;
}

.invite table, .game table {
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.invite td {
    width: 33%;
}

.game td {
    width: 25%;
}

.joinbtn {
    width: 50%;
}

.spacer {
    margin-bottom: 50px;
}

/*************************************************/

.board {
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

.controls {
    position: fixed;
    right: 0;
    top: 0;
    margin-top: 28px;
    margin-right: 20px;
    padding: 20px;
    font-size: x-large;
}

.scores {
    width: 100%;
    padding-bottom: 50px;
}

.scores td {
    text-align: center;
}

.scores .yourturn {
    border: 2px solid black;
    border-radius: 5px;
    margin: 0; /* Removes extra spacing */
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #ffde59;
}

.scores p {
    font-size: x-large;

}

.bank {
    padding-bottom: 40px;
}

.chatbox {
    padding: 20px;
    font-size: large;
    position: fixed;
    right: 0;
    bottom: 0;
    margin-bottom: 20px;
    margin-right: 20px;
}

.chatbox .wrapper {
    max-width: 570px;
    max-height: 300px;
    overflow: scroll;
}

.chatbox #_inputtext {
    margin-bottom: 10px;
}
