<div class="board softbox turqbg">
  <div class="boardtable softbox whitebg">
    <table>
        {% for row in range(0,15) %}
        <tr>
            {% for col in range(0,15) %}
            <td>
                <img class="boardtile"
                 id="_tile_{{row}}_{{col}}"
                 data-space="{{ board.getTile(row,col) }}"
                 data-row="{{row}}"
                 data-col="{{col}}"
                 data-origsrc="{{ tiles.getURL(board.getTile(row,col)) }}"
                 src="{{ tiles.getURL(board.getTile(row,col)) }}">
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
      </table>
  </div>
</div>


<div class="score softboxwhite blackbg">
    <table class="scoretable">
        <tr>
            {% if board.game.whosUp == board.game.player1 %}
            <td>
                <p class="yourturn">{{ getUsername(board.game.player1) }}</p>
            </td>
            <td>
                <p class="white">{{ getUsername(board.game.player2) }}</p>
            </td>
            {% else %}
            <td>
                <p class="white">{{ getUsername(board.game.player1) }}</p>
            </td>
            <td>
                <p class="yourturn">{{ getUsername(board.game.player2) }}</p>
            </td>
            {% endif %}
        </tr>
        <tr>
            <td>
                <p class="white">{{ board.game.score1 }}</p>
            </td>
            <td>
                <p class="white">{{ board.game.score2 }}</p>
            </td>
        </tr>
    </table>
</div>

<div class="exit softboxwhite blackbg">
    <i class="icon yellow fa-solid fa-arrow-right-from-bracket fa-2x" onclick="showLobby()"></i>
</div>

<div class="footbar softboxwhite blackbg">
    <div class="pair">
    <div class="boardtable softbox whitebg">
        <table>
            <tr>
            {% for letter in bank %}
                <td>
                    <img class="banktile"
                    data-letter="{{ letter }}"
                    draggable="true"
                    src="{{ tiles.getURL(letter) }}"
                    onmousedown="setActiveLetter(this)">
                </td>
            {% endfor %}
            </tr>
        </table>
    </div>

    <div class="swaparea softbox yellowbg">
        <div id="swp" class="boardtable softbox whitebg">
            <table class="banktable">
                <tr id="swaprow">
                </tr>
            </table>
        </div>
        <button class="btn1 softbox" onclick="swapTiles()">Swap</button>
    </div>
    </div>
    
    <div class="pair rjust">
        <p class="gamemsg" id="_msg"><i>{{ board.game.msg }}</i></p>
        {% if board.game.whosUp == current_user.id %}
        <button class="btn1 softbox" onclick="playWord()">Play</button>
        <button class="btn1 softbox" onclick="reset()">Reset</button>
        {% endif %}
    </div>

</div>

<script>
    
    // attempt tracks where bank tiles have been placed:
    // [{'letter':a','row':4,'col':5},...]
    var attempt = []
    var swapqueue = []
    
    var activeLetter = undefined;
    var activeSource = undefined;
    var activeElement = undefined;
    
    var startRow = 0;
    var startCol = 0;
    var direction = undefined;
    
    function setActiveLetter(ele) {
        activeElement = ele;
        activeLetter = ele.dataset.letter;
        activeSource = ele.src;
    }

    $('.boardtile').on('dragover', function (event) {
        event.preventDefault();
    });

    var isAlpha = function(ch){
        return /^[A-Z]$/i.test(ch);
    }

    // Handle the drop event
    $('.boardtile').on('drop', function (event) {
        event.preventDefault();

        // Is there already a bank tile on this space?
        var valid = true;
        var row = $(this).attr('data-row');
        var col = $(this).attr('data-col');
        for (let i=0; i < attempt.length; i++) {
            if (attempt[i].row == row && attempt[i].col == col) {
                valid = false;
            }
        }

        if (valid && activeLetter && !isAlpha($(this).attr('data-space')) ) {
            $(this).attr('src', activeSource);
            activeElement.style.visibility = 'hidden';

            attempt.push({'letter':activeLetter,'row':$(this).attr('data-row'),'col':$(this).attr('data-col')});

            activeElement = undefined;
            activeLetter = undefined;
            activeSource = undefined;
        }
    });

    $('.swaparea').on('dragover', function (event) {
        event.preventDefault();
    });

    // Handle drop to swap
    $('.swaparea').on('drop', function(event) {
        event.preventDefault();

        $('#swp').css('visibility','visible');

        if (activeSource) {
            activeElement.style.visibility = 'hidden';
            swapqueue.push(activeLetter)
            const newCell = $('<td><img src='+activeSource+'></td>');
            $('#swaprow').append(newCell);
        }

        activeElement = undefined;
        activeLetter = undefined;
        activeSource = undefined;

    });
    
    function reset() {

        for (let i = 0; i < attempt.length; i++) {
            var x = attempt[i];
            var id = '#_tile_'+x.row+'_'+x.col
            var origsrc = $(id).attr('data-origsrc');
            $(id).attr('src',origsrc);
        }

        $('#swaprow').empty();
        $('#swp').css('visibility','hidden');

        attempt = [];
        swapqueue = []

        const banktiles = $('.banktile');
        banktiles.each(function(index,ele){
            ele.style.visibility = 'visible';
        });
    } 

    function playWord() {
        var fd = new FormData();
        fd.append('board_id', "{{ board.id }}")
        fd.append('attempt', JSON.stringify(attempt));

        document.body.style.cursor = 'wait';

        $.ajax({
            url: "{{ url_for('main.playWord') }}",
            type: 'POST',
            processData: false,
            contentType: false,
            dataType: 'json',
            data: fd,
            success: function(data, textStatus) {
                document.body.style.cursor = 'default';
                if (data.ERROR.length) {
                    $('#_msg').css('color','red');
                    $('#_msg').html(data.ERROR);
                    reset();
                }
                else {
                    showBoard("{{ board.game_id }}");
                }
            }
        });
    }

    function swapTiles() {
        var fd = new FormData();
        fd.append('board_id', "{{ board.id }}")
        fd.append('swap', JSON.stringify(swapqueue))
        
        document.body.style.cursor = 'wait';
        
        $.ajax({
            url: "{{ url_for('main.swapTiles') }}",
            type: 'POST',
            processData: false,
            contentType: false,
            dataType: 'json',
            data: fd,
            success: function(data, textStatus) {
                document.body.style.cursor = 'default';
                if (data.ERROR.length) {
                    $('#_msg').html(data.ERROR);
                    reset();
                }
                else {
                    showBoard("{{ board.game_id }}");
                }
            }
        });
    }

</script>

</div>

<!--div class="chatbox softbox whitebg">
    <p class="title">Chat</p>
    <input type="text" id="_inputtext" size="64">
    <div id="_history">
        <div class="wrapper">
        {% for chat in board.chats|reverse %}
        <p><span id="_user" class="turq">{{ chat.user }}: </span><span id="_text">{{ chat.text }}</span></p>
        {% endfor %}
        </div>
    </div>
    <script>
        $("#_inputtext").on('keyup', function (event) {
            if (event.keyCode === 13) {
                var t = $('#_inputtext').val();
                if (t.length > 0) {
                    var fd = new FormData();
                    fd.append('user', "{{ current_user.username }}");
                    fd.append('text', t);
                    fd.append('board_id', '{{ board.id }}');
                    
                    $.ajax({
                        url: "{{ url_for('main.postChat') }}",
                        type: 'POST',
                        processData: false,
                        contentType: false,
                        dataType: 'html',
                        data: fd,
                        success: function(data, textStatus) {
                            $('#_history').html(data);
                            $('#_inputtext').val('');
                        }
                    });
                }
            }
        });
        
    </script>
</div-->
