{% extends "base.html" %}

{% block content %}

<div class="form">
<h1 class="yellow">Create Game</h1>

<form action="" method="post">

  {{ form.hidden_tag() }}

  <p>
    {{ form.name.label }}<br>
    {{ form.name(size=64) }}<br>
    {% for error in form.name.errors %}
      <span style="color: red;">[{{ error }}]</span>
    {% endfor %}  
  </p>

  <p>
    {{ form.opponent.label }}<br>
    {{ form.opponent(size=64) }}<br>
    {% for error in form.opponent.errors %}
      <span style="color: red;">[{{ error }}]</span>
    {% endfor %}  
  </p>

  <p>
    {{ form.random.label }}<br>
    {{ form.random }}<br>
  </p>

  <p>
    {{ form.submit() }}
  </p>

</form>

</div>

{% endblock %}