<div class="headbar softbox blackbg">

    <a href="https://www.inertialframe.dev">
      <img class="logo"
       src="{{ url_for('static', filename='images/Inertial-Frame-Logo.png') }}">
    </a>
    
    <div class="pair rjust">
      <div class="boardtable softbox whitebg">
        {% for letter in current_user.username %}
          <img class="left" src="{{ tiles.getURL(letter) }}">
        {% endfor %}
      </div> 
 
      <div class="softboxwhite yellowbg pad20">
        <a href="{{ url_for('main.logout') }}"><i class="icon black fa-solid fa-arrow-right-from-bracket fa-2x"></i></a>
      </div>
    </div>

</div>

<div class="maincolumn softestbox turqbg">

  <div class="spacer"></div>

  <div class="addbtn softboxwhite blackbg">
    <a href="{{ url_for('main.createGame') }}"><i class="icon yellow fa-regular fa-square-plus fa-2x"></i></a>
  </div>

  <div class="spacer"></div>
  
  {% if pending %}
  <div class="gamebox softerbox whitebg">
    <p class="title black">You're invited to join:</p>

    {% for game in pending %}
    <div class="gamename softerbox yellowbg">
      <p><i>"{{ game.name }}"</i></p>
    </div>
    <div class="game softbox smokebg">

      <p class="label"><b>Vs: </b>
        {% if game.player1 == current_user.id %}
        {{ getUsername( game.player2 ) }}
        {% else %}
        {{ getUsername( game.player1 ) }}
        {% endif %}
      </p>   

      <p class="label">Created {{ game.printElapsedTime() }}</p>
      <button class="btn1 softbox" onclick="joinGame('{{ game.id }}')">Join</button>
      <button class="btn1 softbox" onclick="deleteGame(event,'{{ game.id }}')">Deny</button>
    </div>

    <div class="spacer"></div>

    {% endfor %}
  </div>
  {% endif %}


  {% if accepted %}
  <div class="gamebox softerbox whitebg">
    <p class="title black">Active Games:</p>

    {% for game in accepted %}
    <div class="gamename softerbox yellowbg">
      <p><i>"{{ game.name }}"</i></p>
    </div>
    <div class="game activegame softbox smokebg" onclick="showBoard('{{ game.id }}')">
      <p class="label"><b>Vs: </b>
        {% if game.player1 == current_user.id %}
        {{ getUsername( game.player2 ) }}
        {% else %}
        {{ getUsername( game.player1 ) }}
        {% endif %}
      </p>

      <p class="label">created {{ game.printElapsedTime() }}</p>
        
      {% if game.winner == current_user.id %}
      <p class="label urgent">You have won!</p>
      {% elif game.winner %}
      <p class="label">{{ getUsername(game.winner) }} has won!</p>
      {% elif game.whosUp == current_user.id %}
      <p class="label urgent">Your turn!</p>
      {% else %}
      <p class="label">{{ getUsername( game.whosUp ) }}'s turn</p>
      {% endif %}
      
      <p class="label">{{ strlen( game.pool ) }} letters left</p>

      <button class="btn1 softbox" onclick="deleteGame(event,'{{ game.id }}')">Quit</button>

    </div>

    <div class="spacer"></div>

    {% endfor %}
  </div>
  {% endif %}

  {% include "_get_flash.html" %}
</div> 


<script>
  function joinGame(gameId) {
    var fd = new FormData;
    fd.append('game_id', gameId);
    
    $.ajax({
      url: "{{ url_for('main.joinGame') }}",
      type: 'POST',
      processData: false,
      contentType: false,
      dataType: 'html',
      data: fd,
      success: function(data, textStatus) {
        $('#_main').html(data);
      }
    });
  }
  function deleteGame(event, gameId) {
    event.stopPropagation();
    var fd = new FormData;
    fd.append('game_id', gameId);

    $.ajax({
      url: "{{ url_for('main.deleteGame') }}",
      type: 'POST',
      processData: false,
      contentType: false,
      dataType: 'html',
      data: fd,
      success: function(data, textStatus) {
        $('#_main').html(data);
      }     
    });
  }
</script>